.data {
    flex: 1;
    padding: 10px 0px 0px 20px;
}
.data__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    height: 40px;
}
.data_headerLeft {
    display: flex;
    align-items: center;
}
.data_headerRight svg{
    margin: 0px 10px;
}