.header {
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo img {
    width: 40px;
}
.header__logo span {
    font-size: 22px;
    margin-left: 10px;
    color: grey;
}